<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.SwiftUIApplicationWithAudioUnitExtension.ios</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.application.SwiftUI.iOS</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates an application with an Audio Unit application extension. The application is configured to show a basic user interface.</string>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CODE_SIGN_ENTITLEMENTS</key>
			<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>15.0</string>
				<key>ENABLE_PREVIEWS</key>
				<string>YES</string>
				<key>DEVELOPMENT_ASSET_PATHS</key>
				<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
				<key>INFOPLIST_KEY_UIApplicationSceneManifest_Generation</key>
				<string>YES</string>
				<key>INFOPLIST_KEY_UILaunchScreen_Generation</key>
				<string>YES</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>Organization Name</string>
			<key>Identifier</key>
			<string>ORGANIZATIONNAME</string>
			<key>Name</key>
			<string>Organization Name:</string>
			<key>NotPersisted</key>
			<false/>
			<key>Placeholder</key>
			<string>Your Company</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Values</key>
			<array/>
			<key>Variables</key>
			<dict/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Name</key>
			<string>Use Core Data</string>
			<key>Description</key>
			<string>Whether the application should use the Core Data framework for storage</string>
			<key>SortOrder</key>
			<integer>200</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Override</key>
			<string>false</string>
			<key>Default</key>
			<string>false</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>MIDI Processor</string>
			<key>Description</key>
			<string>The type of the audio unit.</string>
			<key>Identifier</key>
			<string>audioUnitType</string>
			<key>Name</key>
			<string>Audio Unit Type:</string>
			<key>NotPersisted</key>
			<false/>
			<key>Placeholder</key>
			<string></string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Effect</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>audioUnitType</key>
							<string>Effect</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>Presents User Interface</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>No User Interface</string>
						</dict>
					</dict>
				</array>
				<key>Generator</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>audioUnitType</key>
							<string>Generator</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>Presents User Interface</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>No User Interface</string>
						</dict>
					</dict>
				</array>
				<key>Instrument</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>audioUnitType</key>
							<string>Instrument</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>Presents User Interface</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>No User Interface</string>
						</dict>
					</dict>
				</array>
				<key>MIDI Processor</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>audioUnitType</key>
							<string>MIDI Processor</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>Presents User Interface</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>No User Interface</string>
						</dict>
					</dict>
				</array>
				<key>Music Effect</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>audioUnitType</key>
							<string>Music Effect</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>Presents User Interface</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict/>
						<key>Nodes</key>
						<array/>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUserInterface</key>
							<string>No User Interface</string>
						</dict>
					</dict>
				</array>
				<key>Speech Synthesizer</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>ausp</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Speech Synthesizer&lt;/string&gt;</string>
				</dict>
			</dict>
			<key>Values</key>
			<array>
				<string>Instrument</string>
				<string>Generator</string>
				<string>Effect</string>
				<string>Music Effect</string>
				<string>MIDI Processor</string>
				<string>Speech Synthesizer</string>
			</array>
			<key>Variables</key>
			<dict>
				<key>Effect</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>aufx</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Effect&lt;/string&gt;</string>
				</dict>
				<key>Generator</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>augn</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Generator&lt;/string&gt;</string>
				</dict>
				<key>Instrument</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>aumu</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Synthesizer&lt;/string&gt;</string>
				</dict>
				<key>MIDI Processor</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>aumi</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;MIDI Processor&lt;/string&gt;</string>
				</dict>
				<key>Music Effect</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>aumf</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Music Effect&lt;/string&gt;</string>
				</dict>
				<key>Speech Synthesizer</key>
				<dict>
					<key>audioUnitTypeCode</key>
					<string>ausp</string>
					<key>audioUnitTypeTags</key>
					<string>&lt;string&gt;Speech Synthesizer&lt;/string&gt;</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>A four character code that identifies the subtype of the audio unit</string>
			<key>Identifier</key>
			<string>audioUnitSubtypeCode</string>
			<key>Name</key>
			<string>Subtype Code:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Placeholder</key>
			<string>demo (must be exactly 4 characters)</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Values</key>
			<array/>
			<key>Variables</key>
			<dict/>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>A four character code that identifies the manufacturer of the audio unit</string>
			<key>Identifier</key>
			<string>audioUnitManufacturerCode</string>
			<key>Name</key>
			<string>Manufacturer Code:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Placeholder</key>
			<string>Demo (exactly 4 characters, at least 1 upper case)</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Values</key>
			<array/>
			<key>Variables</key>
			<dict/>
		</dict>
		<dict>
			<key>Default</key>
			<string>Presents User Interface</string>
			<key>Description</key>
			<string>Presents a user interface or runs headless.</string>
			<key>Identifier</key>
			<string>hasUserInterface</string>
			<key>Name</key>
			<string>User Interface:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Presents User Interface</string>
				<string>No User Interface</string>
			</array>
			<key>Variables</key>
			<dict/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>extensionBundleIdentifier</string>
			<key>Override</key>
			<string>ForAppTemplate</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
		<string>ContentView.swift</string>
		<string>___PACKAGENAME:identifier___App.swift</string>
		<string>Common/UI/ViewControllerRepresentable.swift</string>
		<string>Common/Audio/Synth.aif</string>
		<string>Common/Audio/SimplePlayEngine.swift</string>
		<string>Common/TypeAliases.swift</string>
		<string>Common/String/StringHelpers.swift</string>
		<string>Common/MIDI/MIDIManager.swift</string>
		<string>Model/AudioUnitHostModel.swift</string>
		<string>Model/AudioUnitViewModel.swift</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>com.apple.dt.unit.audiounitextensionios</string>
			<key>Name</key>
			<string>___PACKAGENAME___Extension</string>
			<key>ProductBuildPhaseInjections</key>
			<array>
				<dict>
					<key>TargetIdentifier</key>
					<string>com.apple.dt.cocoaTouchApplicationTarget</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>ContentView.swift</key>
		<dict>
			<key>Path</key>
			<string>ContentView.swift</string>
		</dict>
		<key>___PACKAGENAME:identifier___App.swift</key>
		<dict>
			<key>Path</key>
			<string>App.swift</string>
			<key>SortOrder</key>
			<integer>98</integer>
		</dict>
		<key>Common/UI/ViewControllerRepresentable.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
				<string>UI</string>
			</array>
			<key>Path</key>
			<string>Common/UI/ViewControllerRepresentable.swift</string>
		</dict>
		<key>Common/Audio/Synth.aif</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
				<string>Audio</string>
			</array>
			<key>Path</key>
			<string>Common/Audio/Synth.aif</string>
		</dict>
		<key>Common/Audio/SimplePlayEngine.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
				<string>Audio</string>
			</array>
			<key>Path</key>
			<string>Common/Audio/SimplePlayEngine.swift</string>
		</dict>
		<key>Common/TypeAliases.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Common/TypeAliases.swift</string>
		</dict>
		<key>Common/String/StringHelpers.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
				<string>String</string>
			</array>
			<key>Path</key>
			<string>Common/String/StringHelpers.swift</string>
		</dict>
		<key>Common/MIDI/MIDIManager.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Common</string>
				<string>MIDI</string>
			</array>
			<key>Path</key>
			<string>Common/MIDI/MIDIManager.swift</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
			<key>SortOrder</key>
			<integer>1000</integer>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>Model/AudioUnitHostModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Model/AudioUnitHostModel.swift</string>
		</dict>
		<key>Model/AudioUnitViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Model/AudioUnitViewModel.swift</string>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app.audio</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
