<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.mediaDeviceDiscoveryExtension.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.extensionkit-extension.iOS</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template creates a Media Device Discovery extension target.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.mediaDeviceDiscoveryExtensionTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAME:identifier___.entitlements</string>
            </dict>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAME:identifier___.swift</string>
                        <string>BluetoothDeviceLocator.swift</string>
                        <string>NetworkDeviceLocator.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAME:identifier___.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AppExtension.swift</string>
                            <key>SortOrder</key>
                            <integer>10</integer>
                        </dict>
                        <key>BluetoothDeviceLocator.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>BluetoothDeviceLocator.swift</string>
                            <key>SortOrder</key>
                            <integer>20</integer>
                        </dict>
                        <key>NetworkDeviceLocator.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>NetworkDeviceLocator.swift</string>
                            <key>SortOrder</key>
                            <integer>30</integer>
                        </dict>
                    </dict>
                </dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAME:identifier___.swift</string>
                        <string>___PACKAGENAME:identifier___.h</string>
                        <string>___PACKAGENAME:identifier___.m</string>
                        <string>BluetoothDeviceLocator.h</string>
                        <string>BluetoothDeviceLocator.m</string>
                        <string>NetworkDeviceLocator.h</string>
                        <string>NetworkDeviceLocator.m</string>
                        <string>___PACKAGENAME:identifier___-Bridging-Header.h</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAME:identifier___.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AppExtension-ObjC.swift</string>
                            <key>SortOrder</key>
                            <integer>10</integer>
                        </dict>
                        <key>___PACKAGENAME:identifier___.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AppExtension.h</string>
                            <key>SortOrder</key>
                            <integer>11</integer>
                        </dict>
                        <key>___PACKAGENAME:identifier___.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AppExtension.m</string>
                            <key>SortOrder</key>
                            <integer>12</integer>
                        </dict>
                        <key>BluetoothDeviceLocator.h</key>
                        <dict>
                            <key>Path</key>
                            <string>BluetoothDeviceLocator.h</string>
                            <key>SortOrder</key>
                            <integer>20</integer>
                        </dict>
                        <key>BluetoothDeviceLocator.m</key>
                        <dict>
                            <key>Path</key>
                            <string>BluetoothDeviceLocator.m</string>
                            <key>SortOrder</key>
                            <integer>21</integer>
                        </dict>
                        <key>NetworkDeviceLocator.h</key>
                        <dict>
                            <key>Path</key>
                            <string>NetworkDeviceLocator.h</string>
                            <key>SortOrder</key>
                            <integer>30</integer>
                        </dict>
                        <key>NetworkDeviceLocator.m</key>
                        <dict>
                            <key>Path</key>
                            <string>NetworkDeviceLocator.m</string>
                            <key>SortOrder</key>
                            <integer>31</integer>
                        </dict>
                        <key>___PACKAGENAME:identifier___-Bridging-Header.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AppExtension-Bridging-Header.h</string>
                            <key>SortOrder</key>
                            <integer>40</integer>
                        </dict>
                    </dict>
                    <key>Targets</key>
                    <array>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>SWIFT_OBJC_BRIDGING_HEADER</key>
                                <string>___PACKAGENAME___/___PACKAGENAME:identifier___-Bridging-Header.h</string>
                                <key>SWIFT_VERSION</key>
                                <string>5.0</string>
                            </dict>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
        <string>___PACKAGENAME:identifier___.entitlements</string>
        <string>Info.plist:EXAppExtensionAttributes</string>
        <string>Info.plist:NSBluetoothServices</string>
        <string>Info.plist:NSBonjourServices</string>
        <string>Info.plist:UTExportedTypeDeclarations</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>SortOrder</key>
            <integer>200</integer>
            <!-- No asset generation. -->
        </dict>
        <key>___PACKAGENAME:identifier___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>AppExtension.entitlements</string>
            <key>SortOrder</key>
            <integer>210</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
        <key>Info.plist:EXAppExtensionAttributes</key>
        <string><![CDATA[<key>EXAppExtensionAttributes</key>
<dict>
    <key>EXExtensionPointIdentifier</key>
    <string>com.apple.discovery-extension</string>
</dict>
]]></string>
        <key>Info.plist:NSBluetoothServices</key>
        <string><![CDATA[<key>NSBluetoothServices</key>
<array>
    <string>___UUID:exampleBluetoothServiceID___</string>
</array>
]]></string>
        <key>Info.plist:NSBonjourServices</key>
        <string><![CDATA[<key>NSBonjourServices</key>
<array>
    <string>_example._tcp</string>
</array>
]]></string>
        <key>Info.plist:UTExportedTypeDeclarations</key>
        <string><![CDATA[<key>UTExportedTypeDeclarations</key>
<array>
    <dict>
        <key>UTTypeDescription</key>
        <string>Example Protocol Display Name</string>
        <key>UTTypeConformsTo</key>
        <array>
            <string>public.data-access-protocol</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>com.example.example-protocol</string>
        <key>UTTypeIcons</key>
        <dict>
            <key>UTTypeSymbolName</key>
            <string>ExampleProtocolIcon</string>
        </dict>
    </dict>
</array>
]]></string>
    </dict>
    <key>Image</key>
    <dict>
        <key>SystemSymbolName</key>
        <string>tv.and.hifispeaker.fill</string>
    </dict>
</dict>
</plist>
