<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.spotlightimportextensionios</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Spotlight Import extension.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>ImportExtension.h</string>
                        <string>ImportExtension.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>ImportExtension.h</key>
                        <dict>
                            <key>Path</key>
                            <string>ImportExtension.h</string>
                        </dict>
                        <key>ImportExtension.m</key>
                        <dict>
                            <key>Path</key>
                            <string>ImportExtension.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>ImportExtension.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>ImportExtension.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>ImportExtension.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.importExtension</string>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___ImportExtension</string>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.spotlight.import</string>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>CSSupportedContentTypes</key>
        <array>
            <string>com.example.plain-text</string>
        </array>
    </dict>
</dict>
<key>CSExtensionLabel</key>
<string>___PACKAGENAMEASIDENTIFIER___Importer</string>
]]></string>
    </dict>
    <key>Image</key>
    <dict>
        <key>SystemSymbolName</key>
        <string>magnifyingglass</string>
    </dict>
</dict>
</plist>
