<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.cocoaTouchApplicationWithSafariExtension</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template creates an iOS Safari Extension application.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>15.0</string>
                <key>INFOPLIST_FILE</key>
                <string>___PACKAGENAME___/Info.plist</string>
                <key>INFOPLIST_KEY_CFBundleDisplayName</key>
                <string>___PACKAGENAME___</string>
                <key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
                <string>YES</string>
                <key>INFOPLIST_KEY_UIMainStoryboardFile</key>
                <string>Main</string>
                <key>INFOPLIST_KEY_UILaunchStoryboardName</key>
                <string>LaunchScreen</string>
                <key>OTHER_LDFLAGS</key>
                <string>-framework SafariServices -framework WebKit</string>
            </dict>
        </dict>
    </array>
	<key>Options</key>
	<array>
        <dict>
            <key>Identifier</key>
            <string>userInterface</string>
            <key>Override</key>
            <string>Storyboard</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>appLifecycle</string>
            <key>Override</key>
            <string>Cocoa</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>extensionBundleIdentifier</string>
            <key>Override</key>
            <string>ForAppTemplate</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>coreData</string>
            <key>Override</key>
            <string>false</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>coreDataCloudKit</string>
            <key>Override</key>
            <string>false</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AppDelegate.h</string>
                        <string>AppDelegate.m</string>
                        <string>SceneDelegate.h</string>
                        <string>SceneDelegate.m</string>
                        <string>ViewController.h</string>
                        <string>ViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AppDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.h</string>
                        </dict>
                        <key>AppDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.m</string>
                        </dict>
                        <key>SceneDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.h</string>
                        </dict>
                        <key>SceneDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.m</string>
                        </dict>
                        <key>ViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.h</string>
                        </dict>
                        <key>ViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>AppDelegate.swift</string>
                        <string>SceneDelegate.swift</string>
                        <string>ViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>AppDelegate.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>AppDelegate.swift</string>
                        </dict>
                        <key>SceneDelegate.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SceneDelegate.swift</string>
                        </dict>
                        <key>ViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>ViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>extensionTargetType</string>
            <key>Values</key>
            <array>
                <string>Full</string>
                <string>Base</string>
            </array>
            <key>Default</key>
            <string>Full</string>
            <key>Units</key>
            <dict>
                <key>Base</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>Info.plist:SFSafariWebExtensionConverterVersion</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>Info.plist:SFSafariWebExtensionConverterVersion</key>
                        <string><![CDATA[<key>SFSafariWebExtensionConverterVersion</key>
                        <string>___TOOLSVERSION:XML___</string>
                        ]]></string>
                    </dict>
                </dict>
            </dict>
        </dict>
	</array>
    <key>Components</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>com.apple.dt.unit.iosSafariExtension</string>
            <key>Name</key>
            <string>___PACKAGENAME___ Extension</string>
            <key>ProductBuildPhaseInjections</key>
            <array>
                <dict>
                    <key>TargetIdentifier</key>
                    <string>com.apple.dt.cocoaTouchApplicationTarget</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
        <string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
        <string>Base.lproj/LaunchScreen.storyboard</string>
        <string>Base.lproj/Main.storyboard</string>
        <string>Base.lproj/Main.html</string>
        <string>Resources/Icon.png</string>
        <string>Resources/Style.css</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>SortOrder</key>
            <integer>110</integer>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.cocoaTouchApplicationTarget</string>
            </array>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>true</string>
                    </dict>
                </dict>
            </array>
        </dict>
        <key>Info.plist:UIApplicationSceneManifest</key>
        <dict>
            <key>Beginning</key>
            <string><![CDATA[
            <key>UIApplicationSceneManifest</key>
            <dict>
                <key>UIApplicationSupportsMultipleScenes</key>
                <false/>
                <key>UISceneConfigurations</key>
                <dict>
                    <key>UIWindowSceneSessionRoleApplication</key>
                    <array>
                        <dict>
                            <key>UISceneConfigurationName</key>
                            <string>Default Configuration</string>
                            <key>UISceneDelegateClassName</key>
                            <string>___VARIABLE_moduleNamePrefixForClasses:XML___SceneDelegate</string>
]]></string>
            <key>End</key>
            <string><![CDATA[
                        </dict>
                    </array>
                </dict>
            </dict>
]]></string>
            <key>Indent</key>
            <integer>2</integer>
        </dict>
        <key>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</key>
        <string><![CDATA[
<key>UISceneStoryboardFile</key>
<string>Main</string>
]]></string>
        <key>Base.lproj/LaunchScreen.storyboard</key>
        <dict>
            <key>Path</key>
            <string>LaunchScreen.storyboard</string>
            <key>SortOrder</key>
            <integer>97</integer>
        </dict>
        <key>Base.lproj/Main.storyboard</key>
        <dict>
            <key>Path</key>
            <string>Main.storyboard</string>
            <key>SortOrder</key>
            <integer>98</integer>
        </dict>
        <key>Base.lproj/Main.html</key>
        <dict>
            <key>Path</key>
            <string>Main.html</string>
            <key>Group</key>
            <string>Resources</string>
        </dict>
        <key>Resources/Icon.png</key>
        <dict>
            <key>Path</key>
            <string>Icon.png</string>
            <key>Group</key>
            <string>Resources</string>
        </dict>
        <key>Resources/Style.css</key>
        <dict>
            <key>Path</key>
            <string>Style.css</string>
            <key>Group</key>
            <string>Resources</string>
        </dict>
    </dict>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>safari</string>
	</dict>
</dict>
</plist>
