<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.smsblockerextensionios</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an SMS Blocker application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.smsBlockerExtension</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>MessageFilterExtension.h</string>
                            <string>MessageFilterExtension.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>MessageFilterExtension.h</key>
                            <dict>
                                <key>Path</key>
                                <string>MessageFilterExtension.h</string>
                            </dict>
                            <key>MessageFilterExtension.m</key>
                            <dict>
                                <key>Path</key>
                                <string>MessageFilterExtension.m</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Swift</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>MessageFilterExtension.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>MessageFilterExtension.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>MessageFilterExtension.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.identitylookup.message-filter</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___MessageFilterExtension</string>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>ILMessageFilterExtensionNetworkURL</key>
        <string>https://www.example-sms-filter-application.com/api</string>
    </dict>
</dict>
]]></string>
    </dict>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>xmark.bin</string>
	</dict>
</dict>
</plist>
