<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.extension.BackgroundDownload.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.extensionkit-extension.iOS</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Background Download application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>16.4</string>
            </dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.target.extension.BackgroundDownload.iOS</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>BackgroundDownloadHandler.h</string>
                        <string>BackgroundDownloadHandler.m</string>
                        <string>Info.plist:EXAppExtensionAttributes</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>BackgroundDownloadHandler.h</key>
                        <dict>
                            <key>Path</key>
                            <string>BackgroundDownloadHandler.h</string>
                        </dict>
                        <key>BackgroundDownloadHandler.m</key>
                        <dict>
                            <key>Path</key>
                            <string>BackgroundDownloadHandler.m</string>
                        </dict>
                        <key>Info.plist:EXAppExtensionAttributes</key>
                        <string><![CDATA[<key>EXAppExtensionAttributes</key>
<dict>
    <key>EXExtensionPointIdentifier</key>
    <string>com.apple.background-asset-downloader-extension</string>
    <key>EXPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___BackgroundDownloadHandler</string>
</dict>
]]></string>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>BackgroundDownloadHandler.swift</string>
                        <string>Info.plist:EXAppExtensionAttributes</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>BackgroundDownloadHandler.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>BackgroundDownloadHandler.swift</string>
                        </dict>
                        <key>Info.plist:EXAppExtensionAttributes</key>
                        <string><![CDATA[<key>EXAppExtensionAttributes</key>
<dict>
    <key>EXExtensionPointIdentifier</key>
    <string>com.apple.background-asset-downloader-extension</string>
</dict>
]]></string>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
    </dict>
    <key>Image</key>
    <dict>
        <key>SystemSymbolName</key>
        <string>arrow.uturn.down.circle</string>
    </dict>
</dict>
</plist>
