<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.intentsuiextensionios</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Intents UI extension that allows your app to provide custom UI to represent intents issued by system services such as Siri and Maps.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>IntentViewController.h</string>
                        <string>IntentViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>IntentViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>IntentViewController.h</string>
                        </dict>
                        <key>IntentViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>IntentViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>IntentViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>IntentViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>IntentViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.intentsUIExtension</string>
            <key>Frameworks</key>
            <array>
                <string>IntentsUI</string>
            </array>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Base.lproj/MainInterface.storyboard</string>
        <string>Info.plist:NSExtension</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/MainInterface.storyboard</key>
        <dict>
            <key>Path</key>
            <string>MainInterface.storyboard</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionAttributes</key>
    <dict>
    <key>IntentsSupported</key>
    <array>
        <string>INSendMessageIntent</string>
    </array>
    </dict>
    <key>NSExtensionMainStoryboard</key>
    <string>MainInterface</string>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.intents-ui-service</string>
</dict>
]]></string>
    </dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>siri</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
