<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.widgetExtension.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Widget application extension.</string>
    <key>AssociatedTargetSpecification</key>
    <dict>
        <key>PopUpTitle</key>
        <string>Embed in Application:</string>
        <key>PopUpDescription</key>
        <string>The application target that will host this new extension. The application will be set up to embed the new extension.</string>
        <key>AllowableProductTypes</key>
        <array>
            <string>com.apple.product-type.application</string>
            <string>com.apple.product-type.application.on-demand-install-capable</string>
        </array>
        <key>AllowablePlatforms</key>
        <array>
            <string>com.apple.platform.iphoneos</string>
        </array>
        <key>AssociatedTargetIsDependent</key>
        <true/>
        <key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
        <true/>
    </dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.widgetExtension.iOS</string>
            <key>Name</key>
            <string>___PACKAGENAME___Extension</string>
            <key>Frameworks</key>
            <array>
                <string>WidgetKit</string>
                <string>SwiftUI</string>
            </array>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>ASSETCATALOG_COMPILER_WIDGET_BACKGROUND_COLOR_NAME</key>
                <string>WidgetBackground</string>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>Assets.xcassets</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.widgetkit-extension</string>
</dict>
]]></string>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>true</string>
                    </dict>
                </dict>
                <!-- WidgetBackground is placed statically. -->
            </array>
            <key>SortOrder</key>
            <integer>100</integer>
        </dict>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Override</key>
            <string>Swift</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>includeLiveActivity</string>
            <key>Name</key>
            <string>Include Live Activity</string>
            <key>Description</key>
            <string>Whether this widget should include a Live Activity.</string>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___Bundle.swift</string>
                        <string>___PACKAGENAMEASIDENTIFIER___LiveActivity.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAMEASIDENTIFIER___Bundle.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>WidgetBundle-LiveActivity.swift</string>
                        </dict>
                        <key>___PACKAGENAMEASIDENTIFIER___LiveActivity.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>WidgetLiveActivity.swift</string>
                        </dict>
                    </dict>
                </dict>
                <key>false</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___Bundle.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAMEASIDENTIFIER___Bundle.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>WidgetBundle.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>includeConfigurationIntent</string>
            <key>Name</key>
            <string>Include Configuration Intent</string>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Description</key>
            <string>Whether this widget should include a configuration intent.</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___.swift</string>
                        <string>___PACKAGENAMEASIDENTIFIER___.intentdefinition</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAMEASIDENTIFIER___.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>Widget-Intent.swift</string>
                        </dict>
                        <key>___PACKAGENAMEASIDENTIFIER___.intentdefinition</key>
                        <dict>
                            <key>Path</key>
                            <string>Widget.intentdefinition</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.widgetExtension.iOS</string>
                                <string>ASSOCIATEDTARGET</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
                <key>false</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>___PACKAGENAMEASIDENTIFIER___.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>___PACKAGENAMEASIDENTIFIER___.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>Widget.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Image</key>
    <dict>
        <key>BundleImageName</key>
        <string>widget</string>
        <key>BundleIdentifier</key>
        <string>com.apple.dt.IDEKit</string>
    </dict>
</dict>
</plist>
