<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.accountauthenticationmodificationextensionios</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Account Authentication Modification Extension.</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.accountAuthenticationModificationExtension</string>
			<key>Frameworks</key>
			<array>
				<string>AuthenticationServices</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AccountAuthenticationModificationViewController.h</string>
						<string>AccountAuthenticationModificationViewController.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AccountAuthenticationModificationViewController.h</key>
						<dict>
							<key>Path</key>
							<string>AccountAuthenticationModificationViewController.h</string>
						</dict>
						<key>AccountAuthenticationModificationViewController.m</key>
						<dict>
							<key>Path</key>
							<string>AccountAuthenticationModificationViewController.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AccountAuthenticationModificationViewController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>AccountAuthenticationModificationViewController.swift</key>
						<dict>
							<key>Path</key>
							<string>AccountAuthenticationModificationViewController.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:NSExtension</string>
		<string>Base.lproj/MainInterface.storyboard</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:NSExtension</key>
		<string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;NSExtensionAttributes&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;ASAccountAuthenticationModificationSupportsUpgradeToSignInWithApple&lt;/key&gt;
		&lt;true/&gt;
		&lt;key&gt;ASAccountAuthenticationModificationSupportsStrongPasswordChange&lt;/key&gt;
		&lt;true/&gt;
	&lt;/dict&gt;
	&lt;key&gt;NSExtensionMainStoryboard&lt;/key&gt;
	&lt;string&gt;MainInterface&lt;/string&gt;
	&lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
	&lt;string&gt;com.apple.authentication-services-account-authentication-modification-ui&lt;/string&gt;
&lt;/dict&gt;</string>
		<key>Base.lproj/MainInterface.storyboard</key>
		<dict>
			<key>Path</key>
			<string>MainInterface.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>person.crop.circle.badge.checkmark</string>
	</dict>
</dict>
</plist>
