<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.intentsextensionios</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an Intents extension that allows your app to handle intents issued by system services like Siri and Maps.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>hasUIExtension</string>
            <key>Name</key>
            <string>Include UI Extension</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>101</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.apple.dt.unit.intentsuiextensionios</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___UI</string>
                            <key>AssociatedTargetIsSameAsIncluder</key>
                            <true/>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>intentType</string>
            <key>Name</key>
            <string>Starting Point:</string>
            <key>Description</key>
            <string>The Intents Extension starting point</string>
            <key>Values</key>
            <array>
                <string>Messaging</string>
                <string>None</string>
            </array>
            <key>Default</key>
            <string>Messaging</string>
            <key>Type</key>
            <string>popup</string>
            <key>Units</key>
            <dict>
                <key>Messaging</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
                    <dict>
                        <key>NSExtensionAttributes</key>
                        <dict>
                            <key>IntentsRestrictedWhileLocked</key>
                            <array/>
                            <key>IntentsSupported</key>
                            <array>
                                <string>INSendMessageIntent</string>
                                <string>INSearchForMessagesIntent</string>
                                <string>INSetMessageAttributeIntent</string>
                            </array>
                        </dict>
                        <key>NSExtensionPrincipalClass</key>
                        <string>___VARIABLE_moduleNamePrefixForClasses:XML___IntentHandler</string>
                        <key>NSExtensionPointIdentifier</key>
                        <string>com.apple.intents-service</string>
                    </dict>
                    ]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.h</string>
                            <string>IntentHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>MessagingType/IntentHandler.h</string>
                            </dict>
                            <key>IntentHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>MessagingType/IntentHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>MessagingType/IntentHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>None</key>
                <array>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string><![CDATA[<key>NSExtension</key>
                    <dict>
                        <key>NSExtensionAttributes</key>
                        <dict>
                            <key>IntentsRestrictedWhileLocked</key>
                            <array/>
                            <key>IntentsSupported</key>
                            <array/>
                        </dict>
                        <key>NSExtensionPrincipalClass</key>
                        <string>___VARIABLE_moduleNamePrefixForClasses:XML___IntentHandler</string>
                        <key>NSExtensionPointIdentifier</key>
                        <string>com.apple.intents-service</string>
                    </dict>
                    ]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.h</string>
                            <string>IntentHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.h</string>
                            </dict>
                            <key>IntentHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>IntentHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>IntentHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>NoneType/IntentHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.intentsExtension</string>
            <key>Frameworks</key>
            <array>
                <string>Intents</string>
            </array>
        </dict>
    </array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>siri</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
