<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.extension.AppIntents.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.extensionkit-extension.iOS</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds an App Intents Extension.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Override</key>
            <string>Swift</string>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:EXAppExtensionAttributes</string>
        <string>___PACKAGENAME:identifier___Extension.swift</string>
        <string>___PACKAGENAME:identifier___.swift</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:EXAppExtensionAttributes</key>
        <string><![CDATA[<key>EXAppExtensionAttributes</key>
    <dict>
        <key>EXExtensionPointIdentifier</key>
        <string>com.apple.appintents-extension</string>
    </dict>
]]></string>
        <key>___PACKAGENAME:identifier___Extension.swift</key>
        <dict>
            <key>Path</key>
            <string>AppIntentsExtension.swift</string>
        </dict>
        <key>___PACKAGENAME:identifier___.swift</key>
        <dict>
            <key>Path</key>
            <string>AppIntents.swift</string>
        </dict>
    </dict>
    <key>Image</key>
    <dict>
        <key>BundleImageName</key>
        <string>app.intent</string>
        <key>BundleIdentifier</key>
        <string>com.apple.dt.IDEKit</string>
    </dict>
</dict>
</plist>
