<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.device-activity-report.iOS</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.extensionkit-extension.iOS</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template creates a Device Activity Report application extension.</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Override</key>
            <string>Swift</string>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.deviceActivityReportExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>___PACKAGENAMEASIDENTIFIER___.swift</string>
        <string>TotalActivityReport.swift</string>
        <string>TotalActivityView.swift</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
        <string>Info.plist:EXAppExtensionAttributes</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>___PACKAGENAMEASIDENTIFIER___.swift</key>
        <dict>
            <key>Path</key>
            <string>DeviceActivityReportExtension.swift</string>
        </dict>
        <key>TotalActivityReport.swift</key>
        <dict>
            <key>Path</key>
            <string>TotalActivityReport.swift</string>
        </dict>
        <key>TotalActivityView.swift</key>
        <dict>
            <key>Path</key>
            <string>TotalActivityView.swift</string>
        </dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
        <key>Info.plist:EXAppExtensionAttributes</key>
        <string><![CDATA[<key>EXAppExtensionAttributes</key>
<dict>
    <key>EXExtensionPointIdentifier</key>
    <string>com.apple.deviceactivityui.report-extension</string>
</dict>
]]></string>
    </dict>
    <key>Image</key>
    <dict>
        <key>SystemSymbolName</key>
        <string>list.bullet.rectangle</string>
    </dict>
</dict>
</plist>
